*~
hs_err_pid*
*.class
dist
*.ear
*.war
*.jar
target
build
out

.project
.settings
.classpath

.idea
*.iml

nb*
nbproject
nb-*.xml
nb*.xml

.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
